[2021-01-26 19:10] danielgomezrico opened #1 "I dont understand the purpose of this"
Hi

I have datadog for my backend/frontend but I don't see how this will add some information there from the apps we had in flutter, can you show some screenshots or samples of what these logs will look like and how they will be displayed on Data Dog?

Thanks

[2021-01-29 20:52] triztian commented on #1
@danielgomezrico Assuming that you initialize your Datadog logger like so:

[code]

and then log a statement like this:

[code]

It would show up like this in DataDog's log explorer:

![Screen Shot 2021-01-29 at 12 46 23](https://user-images.githubusercontent.com/423034/106326077-bcc65980-6230-11eb-815e-5cee29b5b9ea.png)

[2021-01-29 21:17] triztian opened #2 "Plugin throwing exception on Android"
I've installed the plugin and see it successfully working on iOS, however in Android it is crashing, I'm initializing the logger like so:

[code]

When I call the `log` method I see the following exception trace:

[code]

[2021-01-29 21:54] triztian commented on #2
I've submitted a [pull request](https://github.com/greenbits/datadog_flutter/pull/3) that fixes this issue in the plugin. But to address this in the flutter code I've created the following overriding class:

[code]

You can then replace the `DatadogLogger` type with this one to handle the case when `attributes` argument is `null`.

[code]

The "P" stands for "patched". Hope it helps someone!

[2021-01-29 22:49] danielgomezrico commented on #1
@triztian thank you very much for answering, I now I understand the value of it 👍🏻 .

[2021-01-29 22:49] #1 closed

[2021-01-29 22:56] tshedor commented on #2
@triztian reading your PR, the Flutter code should **not** be necessary to include, right?

[2021-01-29 23:51] triztian commented on #2
@tshedor you are correct it is not needed, the flutter code is just my workaround until the PR was accepted or a different change addressed the issue. Without having to change the plugin to build locally with any modifications.

[2021-01-30 23:36] tshedor commented on #2
@triztian super. I'm going to close this issue then since #3 has been merged and released on pub dev. Thanks again for the contribution

[2021-01-30 23:36] #2 closed

[2021-04-26 20:45] james-airspace opened #6 "403 Forbidden - Bintray download fails for dependency dd-sdk-android:1.4.3"
[code]

Looks like Datadog moved to Maven Central, but they did not copy over the old versions of the library. They are only hosting recent versions from 1.8.1 and higher. The older versions are still hosted on Bintray, which is 403'ing.

Potential solutions:
1. Publish cached version of 1.4.3 to MavenCentral on your own,
2. Upgrade to 1.8.1 or newer of the dd-sdk-android library. I attempted to d

[2021-04-26 22:16] tshedor commented on #6
@james-airspace Dang, this is not ideal. It looks like they're requiring a tracking consent acknowledgement now.

So....I think what we have to do is require the implementation to handle this decision. I can see why they yanked it. I wonder if they'll do the same for iOS

[2021-04-26 22:18] james-airspace commented on #6
@tshedor It's probably because Bintray/Jcenter is going to be deprecated on May 1, so they are just moving over to Maven Central. Probably figured no one was really using the older versions of the library.

From what I can tell, the only difference is the DatadogConfig.Builder function is requiring an envName as a parameter. I might have a fix for it now by updating the plugin.

[2021-04-26 22:23] tshedor commented on #6
@james-airspace alright I'll follow your lead on the iOS side after you submit the PR. And the README probably.

To your earlier question, yes, we can do multiple releases to cover null safety/non null safety. Please open your PR against the `unsound-null-safety` branch.

[2021-04-26 22:41] james-airspace commented on #6
@tshedor https://github.com/greenbits/datadog_flutter/pull/7

No README update needed since the Datadog wrapper already passes the required env name into the constructor. Just needed to move the setter into a required param in the plugin for Android.

[2021-04-26 23:26] james-airspace commented on #6
It's resolved on my end. I am able to log to Datadog using the 0.0.4 version. Thanks for getting this updated @tshedor!

[2021-04-26 23:26] #6 closed

[2021-05-17 22:10] ashok2004 opened #20 "datadog_flutter-1.1.0-dev.6 Compile error"
`datadog_flutter-1.1.0-dev.6/android/src/main/kotlin/com/greenbits/datadog_flutter/DatadogFlutterPlugin.kt: (125, 57): Type mismatch: inferred type is Map<String, Any?>? but Map<String, Any?> was expected`

@tshedor  i got the above compile error

[2021-05-17 22:37] ashok2004 opened #21 "Runtime Exception: Method call failed while Initialization"
`final ddLogger = DatadogLogger(loggerName: 'xyz');
`
Service Name is missing

[code]

Stack Trace:
[code]

@tshedor  i think we are missing serviceName argument for this call.argument<String>("serviceName")!!

[2021-05-17 22:52] ashok2004 opened #22 "BUG: Tracing feature is disabled"
Logs
Tracing feature is disabled, so no tracing data (http tracing) not sent to DataDog

[code]

@tshedor  i think we need to add `setTracesEnabled(true)` in **DataDogConfigBuilder** providing option to user through constructor

[2021-05-18 06:54] ashok2004 opened #24 "Runtime Error: flavorName Variable Not Found in AndroidPlugin"
@tshedor  i found this issue yesterday, but i modified made it worked but now reporting as this issue raise for all other devs

Runtime Error:
stack trace:

[code]

**RootCause**:
variable name mismatch in datadog_flutter.dart and DatadogFlutterPlugin.kt:78

datadog_flutter.dart:31 'flavorName': flavorName
and call.argument<String>("flavor")!!,

Expected flavor variable by DatadogFlutterPlugin but

[2021-05-18 11:39] ashok2004 opened #26 "Bug: Logging not working for iOS"
[code]

**Android**: Working, able to see logs in Log section of datadog log dashboard
**iOS**:  Not able to see the logs
Won't be able to get stack trace as no runtime error in console.

@tshedor i think there is some issue with createLogger or log method call in SwiftDatadogFlutterPlugin.swift

[2021-05-18 19:57] ashok2004 commented on #20
Fixed commit https://github.com/greenbits/datadog_flutter/pull/23/commits/d41e9c81893c62bd4535674f5e008789f0542a28

[2021-05-18 19:57] #20 closed

[2021-05-18 19:58] ashok2004 commented on #21
Fixed in commit https://github.com/greenbits/datadog_flutter/pull/23/commits/9e14689f1b82ea2b87f0a55c1f1dab42e24ba8f9

[2021-05-18 19:58] #21 closed

[2021-05-18 19:59] ashok2004 commented on #22
fixed in commit https://github.com/greenbits/datadog_flutter/pull/23/commits/77902f8f733aed4d3eb2464e1d992ae095f2c230

[2021-05-18 19:59] #22 closed

[2021-05-18 23:22] tshedor commented on #26
@ashok2004 I'm actually able to get this to report to Datadog without error with iOS. Are you watching the live tail?

[2021-05-18 23:22] #24 closed

[2021-05-18 23:41] ashok2004 commented on #26
@tshedor yes i am watching live tail, For android i can see logs in live tail and for iOS no logs.

[2021-05-19 16:26] tshedor commented on #26
@ashok2004 I'm not able to replicate the problem on iOS. I'm using the below code (Datadog evidence after the code):

[code]

![image](https://user-images.githubusercontent.com/865897/118848794-ee1c7100-b883-11eb-8c71-b1a072be16c3.png)

[2021-05-19 18:19] ashok2004 commented on #26
@tshedor may be some issue with related to iOS , however please merge the cut off the dev branch because for dev6 it is throwing compiler error while building for android.

[2021-05-19 18:26] tshedor commented on #26
@ashok2004 can you please try running the above code (it's from `example`) using your Datadog client token and RUM ID in iOS? I really want to make sure there isn't another bug floating around that will require another quick release

[2021-05-19 19:02] ashok2004 commented on #26
Tried with below pasted code

`const String SERVICE_NAME = "App";
const String DATA_DOG_TOKEN = "YOUR DATA DOG TOKEN";
const String DATA_DOG_APP_ID = "YOUR DATA DOG APP ID";
void main() async {
  WidgetsFlutterBinding.ensureInitialized();

  await DatadogFlutter.initialize(
    clientToken: DATA_DOG_TOKEN,
    environment: "staging",
    androidRumApplicationId: DATA_DOG_APP_ID,
    iosRumApplicat

[2021-05-19 21:17] ashok2004 commented on #26
@tshedor  Got the Root cause of this bug, after checking logs in xcode, NetSkope secure client blocking the connection checking the SSL certificates.

"<cert(0x7fba8d89b200) s: caadmin.netskope.com i: caadmin.netskope.com>"
)}}, _NSURLErrorRelatedURLSessionTaskErrorKey=(
    "LocalDataTask <ABCF0AFE-772B-4AF5-93AE-C50D2D077F98>.<5>"
), _kCFStreamErrorCodeKey=-9802, _NSURLErrorFailingURLSessionTask

[2021-05-19 21:17] #26 closed

[2021-05-19 22:10] tshedor commented on #26
@ashok2004 great! Thank you for verifying. 1.1.0-dev.7 is published

[2021-05-20 17:21] acherifi opened #27 "Web not supported"
Hi,

I just tried to installed your plugin (which looks amazin BTW !) but i'm trying to vuild for web.
By looking at the code it seems like your dart code directly calls the IOS and Android functions.

As a result, the following error happens when I start the app

[code]

Do you plan to support Web in the near future ?

[2021-05-20 18:16] tshedor commented on #27
Hey @acherifi there aren't any near-future intentions to support Flutter web. I'm personally unfamiliar with how Flutter web's package system works. Are NPM/yarn importable? Can CDN assets be used? How can JS methods be invoked within Dart?

I presently don't have an application that uses Web. But I'd really appreciate a PR if you have the time and courage to dive into Datadog's web SDK. It's defi

[2021-06-03 08:16] ashok2004 opened #30 "Request: Http Network Resources Auto tracking"
@tshedor  Is it possible to auto track network resources instead of manual tracking.
Like Adding NetworkResourceInterceptor which user can add to the http client, instead of manually tracking http resources in lot of defined places.

[2021-06-03 15:46] tshedor commented on #30
@ashok2004 can you give me an example of what you're doing? And, if possible, an example of how you would do this natively with the expected Datadog output?

You can automatically track HTTP requests as traces:

[code]

[2021-06-04 23:10] ashok2004 commented on #30
@tshedor  As per android documentation we can add two interceptor
[code]

I was asking about this interceptor `DatadogInterceptor(tracedHosts)`   to automatically tracking http network resources through interceptor.

[2021-06-04 23:50] tshedor commented on #30
@ashok2004 this requires that subsequent requests are made on the same client. Adding the interceptor to this client doesn't globally catch all requests.

You'd still need to do, on the Android side, something like this:

[code]

Instead, you make your requests with the Dart client on the Dart side and don't need to worry about instantiating Android requests.

[2021-06-16 21:55] tshedor commented on #30
Closing this out due to lack of activity; @ashok2004 please reopen if you have further questions

[2021-06-16 21:55] #30 closed

[2021-07-09 23:35] ashok2004 opened #35 "Bug: Manually Network Resource Not working"
@tshedor  Please look into this issue.

No Network resource recorded in datadog sessions explorer or did i miss anything here?

[code]

Methods:

[code]
[code]

<img width="1279" alt="Screenshot 2021-07-10 at 5 04 13 AM" src="https://user-images.githubusercontent.com/6965147/125144720-61cc5300-e13c-11eb-9a45-a8399a59c9b1.png">

[2021-07-14 19:29] ashok2004 commented on #35
@tshedor is there any update regarding this ?

[2021-07-27 23:21] tshedor commented on #35
@ashok2004 sorry I haven't had the headspace to look into this. I'll try by the end of this week

[2021-08-01 19:29] ashok2004 commented on #35
Thanks @tshedor , please try and provide a solution for this.

[2021-08-09 22:04] tshedor commented on #35
@ashok2004 I'm not able to reproduce what you're seeing. This is from an iOS simulator:
<img width="1237" alt="Screen Shot 2021-08-09 at 2 58 23 PM" src="https://user-images.githubusercontent.com/865897/128779934-d0a7b54b-1086-4ee0-b5d8-f860ed21f72e.png">

I know that's sample code, but there are a few things I'd like to flag:
* On iOS, you cannot provide both an `errorMessage` and `statusCode` wh

[2021-08-18 23:19] tshedor commented on #35
@ashok2004 I'm going to close this due to inactivity

[2021-08-18 23:19] #35 closed

[2021-08-23 17:13] listendo42 opened #42 "`environment` does not seem to be respected in Android"
Hi,

I was trying to add a sample integration with datadog to our flutter app today.

I realised that the `environment` property in the init call is respected by iOS. On Android on the other hand the `environment` is ignored. Instead datadog uses the `serviceName` as `environment` (both `serviceName` and `environment` are the same when using android).

After checking the Kotlin code of the `initWi

[2021-08-23 18:13] tshedor commented on #42
@listendo42 thanks for the issue. This was a great callout; I've released patch versions that address this for both null safe and non null safe versions

[2021-08-23 18:13] #42 closed

[2021-08-24 07:56] listendo42 commented on #42
That... was fast! Thanks a lot 🙌

[2021-08-24 08:02] ma-pe opened #45 "log attributes ignored on iOS"
Hi there,

on iOS the attributes added to a log don't show up in datadog. The log itself shows up, but only the Android logs  contain the attribute `durationInMilliseconds`.

This code works for Android but not for iOS:

[code]

[2021-08-24 10:05] ma-pe opened #47 "Question: How to use `DatadogTracingHttpClient` with `Dio`"
Hi there, it's me again.

I am currently trying to use the `DatadogTracingHttpClient` together with `Dio`. The README.md suggested this is possible via Composition. Yet I am unable to get it to work.

This is how far i have come already:

`Dio` allows to overwrite the `httpClientAdapter`:

[code]

Yet I don't understand how to convert the `DatadogTracingHttpClient` which extends `http.BaseClient`

[2021-08-24 15:14] mkobuolys opened #48 "Logging does not work on Android"
Hey!

I have just tried out this plugin. Logging works fine on iOS, but the same configuration does not work on Android. This is my configuration:

[code]

I get the log message that batch is published `V/Datadog (13280): Batch [2255 bytes] sent successfully (LogsOkHttpUploader).`, but logs do not appear in Datadog.

Also, I am running this code on the arm64 Android Emulator "Pixel 4a API 31".

In

[2021-08-24 15:18] tshedor commented on #45
Hi @ma-pe thanks for using `datadog_flutter`.

I actually use this feature on a daily basis in an iOS app without issue (and even the same attribute name). There are a few things that could be happening in your config.

* A parser in one of the pipelines that run when ingesting your logs could be turning this into a metric. Or the parser could be removing the attribute.
* This is rendered below th

[2021-08-24 15:26] tshedor commented on #48
Hi @mkobuolys , thanks for using `datadog_flutter`.

* What version of `datadog_flutter` are you using?
* What happens if you remove `flavorName` from your configuration?
* Can you provide an example of how you're logging?

Separately, how did you find this SDK? Things were very quiet for a few months and it's really picked up the last two weeks.

[2021-08-24 15:33] tshedor commented on #47
Hey @ma-pe . So looking at the Dio docs, you can [return a new HTTPClient when the Client adapter is initialized](https://github.com/flutterchina/dio#using-proxy). Because the method returns `dynamic`, I [verified that this is the case in the source](https://github.com/flutterchina/dio/blob/master/dio/lib/src/adapters/io_adapter.dart#L116-L117).

[code]

Also, quick plug: I maintain [Brick](https:

[2021-08-24 15:39] mkobuolys commented on #48
* `datadog_flutter` v1.2.1;
* Nothing new happens if `flavorName` is not defined - logs still do not appear on Datadog, nothing new from native logs as well;

Usage:
[code]

About the SDK - we are using Datadog for our Backend and now we just want to have mobile logs in the same place.

[2021-08-25 07:56] tshedor commented on #48
@mkobuolys strangely, the opposite is being reported in #45. I don't use an Android device in day-to-day debugging so I'll have to dust off the simulator tomorrow.

[2021-08-25 08:12] mkobuolys commented on #48
@tshedor the #45 is more about custom attributes, here I do not see the logs at all (for Android). Thank you and let me know how it went!

[2021-08-31 08:58] rupas385 opened #49 "Unable to send log (Android)"
Hi,

I am trying to connect my flutter app with datadog using this package. On iOS work fine, but on Android can't connect to datadog. No send logs and RUM not work, nothing happens.

Init datadog:

[code]

Send log:

[code]

The only error I see in logcat is this:

[code]

Also I verified that I have Internet Permission in my manifest.

[2021-09-02 23:17] tshedor commented on #49
Hi @rupas385 thanks for using datadog flutter. Are you able to make any HTTP requests with your Flutter app?

[2021-09-03 23:43] tshedor commented on #45
Hey @ma-pe I'm going to close this due to inactivity.

[2021-09-03 23:43] #45 closed

[2021-09-03 23:48] tshedor commented on #27
Hey @acherifi I've decided to try out Flutter web. Would you be so kind as to help with beta testing this? Could you please add the following to your pubspec and let me know what works and what doesn't?

[code]

[2021-09-06 03:54] ryzr commented on #45
FYI, I'm having the same problem on iOS. `logger.addAttribute('foo', 'bar')` etc works, but `logger.log(message, level, attributes: {'foo': 'bar'})` does not. I'm thinking it might be something in the datadog sdk?

[2021-09-06 10:32] maheshmaersk opened #51 "I am able to initalized the Datadog but unable to send any events or logs"
W/Datadog ( 3737): The Datadog library has already been initialized.
W/Datadog ( 3737): RumMonitor has already been registered
W/Datadog ( 3737): A RUM event was detected, but no view is active. To track views automatically, try calling the DatadogConfig.Builder.useViewTrackingStrategy() method.
W/Datadog ( 3737): You can also track views manually using the RumMonitor.startView() and RumMonitor.st

[2021-09-06 16:32] ma-pe commented on #47
@tshedor Good call!

I tried your proposal but did not get it to work. I am using the Interceptor and it's being called. Yet I don't find anything in Datadog as well as the response headers do not include the `x-datadog-parent-id`, so I cannot finish the span.

I also tried working with `DatadogRum.startResourceLoading` and `DatadogRum.stopResourceLoading` in the interceptors. I didn't get an erro

[2021-09-07 09:19] ma-pe commented on #47
Regarding the latter (`DatadogRum. startResourceLoading`):

the functions are executed, yet the SDK tells me there are no rum datasets to upload. So it seems to me that `DatadogRum. startResourceLoading()` is not functioning correctly on iOS.

This is my code:
[code]

[2021-09-07 15:42] tshedor commented on #51
Hi @maheshmaersk thanks for using datadog_flutter.

I think this line explains it: `Unable to send batch [510 bytes] (LogsOkHttpUploader) because your token is invalid. Make sure that the provided token still exists.+ flutter datadog**`

Please check out Datadog's docs for [generating a client token](https://docs.datadoghq.com/account_management/api-app-keys/#client-tokens). Don't use the client t

[2021-09-07 15:46] tshedor commented on #47
@ma-pe based on your code, the headers would not be added because it doesn't include the code I provided you in my comment.

Regarding the start and stopping of resource loading, try removing the attributes and running. Regarding the appearance of resource loading logs in the DD backend, this [was recent issue that I confirmed does not exist with the right configuration](https://github.com/greenbi

[2021-09-07 16:33] ma-pe commented on #47
Hi @tshedor,

thank you for your support. When trying the headers I was using more or less exactly your code (filling the parameters accordingly).

I also tried the resource loading without `attributes` - no effect.

Maybe something about the configuration on init is not correct - because both features rely on RUM. Yet the Plugin/SDK is not really talkative 🙃

[2021-09-07 17:01] tshedor commented on #47
@ma-pe what is your code when using my code?

[2021-09-08 08:57] ma-pe commented on #47
This is the code I was testing the header-solution with:

[code]

[2021-09-09 05:16] maheshmaersk commented on #51
Hello @tshedor We are using the application ID Generated but there seems this issue of clientId being a mandatory Parameter

await DatadogFlutter.initialize(
    clientToken: Platform.isIOS
        ? Constants.DATADOG_CLIENT_IOS_TOKEN
        : Constants.DATADOG_CLIENT_ANDROID_TOKEN,
    environment: 'preprod',
    androidRumApplicationId: Constants.ANDROID_RUM_APPLICATION_ID,
    iosRumApplicatio

[2021-09-09 05:37] tshedor commented on #51
@maheshmaersk you should not need two different client tokens between the platforms; there should only be one client token. I don't follow the `clientId` as a mandatory parameter; there is no parameter with this name.

[2021-09-11 18:04] tshedor commented on #49
Hey @rupas385 I'm going to close this out due to inactivity.

[2021-09-11 18:04] #49 closed

[2021-09-14 19:18] tshedor commented on #27
Hey @acherifi I'm going to merge this; let me know if you encounter bugs

[2021-09-14 19:19] #27 closed

[2021-09-15 06:03] maheshmaersk commented on #51
Hello @tshedor,
Thank you so much on the clientToken currently we are able to see this over the console of Flutter IDE
V/Datadog ( 2683): Batch [527 bytes] sent successfully (LogsOkHttpUploader).
W/Datadog ( 2683): A RUM event was detected, but no view is active. To track views automatically, try calling the DatadogConfig.Builder.useViewTrackingStrategy() method.
W/Datadog ( 2683): You can also tr

[2021-09-16 11:43] rupas385 opened #52 "Question: How to use DatadogTracingHttpClient with GetConnect"
Hi,

In my company we are using Get --> https://pub.dev/packages/get

This packages have a component called GetConnect, and he is the component are in my project for handle request.

Now I am integrating datadog and all works fine, but need http tracing, but I am not sure if this package can works with GetConnect, please can help me?

Thanks

[2021-09-16 16:18] tshedor commented on #52
Hey @rupas385 I tried to go down this road with #47 but to be honest I shouldn't have. These aren't packages that subscribe to Dart's [proscribed way of composing HTTP clients](https://github.com/dart-lang/http#using) and I can't speak to or support packages I don't maintain. I'd recommend opening a ticket with Get that requests how to compose an HTTP client or use Dart's native HTTP client instea

[2021-09-16 16:18] #52 closed

[2021-09-18 00:38] xacaciax opened #53 "User actions are being dropped for Android devices with "no side effect was registered during its scope" notice"
We recently added this package to our mobile applications to track page views and user actions. The same user actions that are registering and being reported to datadog for an iOS mobile device are getting dropped on Android devices.

This same action that is coming through and viewable in datadog for an iOS device (iPhone 12 in the XCode simulator)

![image](https://user-images.githubusercontent.

[2021-09-18 20:35] tshedor commented on #53
Hey @xacaciax thanks for using `datadog_flutter`. To be honest, I'm out of my depth on this one because I primarily work in iOS.

Doing a bit of searching, I found a thread that suggests dropping `tap` events is a...[feature not a bug](https://github.com/DataDog/dd-sdk-android/issues/484#issuecomment-771659922)? This, however, doesn't make sense, because there wouldn't be a Tap API if the SDK deve

[2021-09-19 20:55] acherifi commented on #27
Sorry I've been away lately! I will gladly test this!

[2021-09-20 17:14] xacaciax commented on #53
@tshedor thanks so much for responding here. I checked the battery level on my emulator and set it to 100% and that didn't seem to be the cause. Then, I changed the event type to `RUMAction.custom` and the SDK stopped dropping the action.
![image](https://user-images.githubusercontent.com/82327972/134041100-1ec950ea-dbea-465b-97f8-0909ae61e3f9.png)
Strange that the Android SDK is only registering

[2021-09-20 17:16] tshedor commented on #53
@xacaciax super strange. I've reached out directly to the RUM team about this and will hopefully report back with a better work around than having all your events be custom.

[2021-09-21 08:46] xgouchet commented on #53
Hi @xacaciax, actually the SDK does register TAP events but for now we only keep them if they have a noticeable side effect. This was originally done to avoid adding too much noise registering events that didn't lead to errors or network resources.

[2021-09-26 17:38] tshedor commented on #53
Thanks for responding @xgouchet . @xacaciax I'm going to open a PR to include this in the README

[2021-09-26 17:38] #53 closed

[2021-09-26 17:44] tshedor commented on #51
@maheshmaersk I'd encourage you to double check your Datadog configuration, your app code, or reach out to support@datadoghq.com . [The example app](https://github.com/GetDutchie/datadog_flutter/tree/master/example) uploads logs successfully.

[2021-10-06 11:59] gabeaventh opened #58 "RUM and Logger"
so I use both RUM and Logger to log my app

but I only define the RUM client token when I initialize the DatadogFlutter, does my app able to log using Logger functionality too?

[2021-10-07 23:44] kendall-lu opened #61 "iOS and Android initialization success but logs are not sending"
I'v tested the same client token/rum id on a react web app and i was able to log to datadog.. so looks like it's not the tokens.. any thoughts?

Initialization:
[code]

<img width="647" alt="Screen Shot 2021-10-07 at 4 44 58 PM" src="https://user-images.githubusercontent.com/53277337/136476744-d801438e-dac9-413c-abaf-ca6bce1ab28b.png">

ios output

<img width="578" alt="Screen Shot 2021-10-07 at 4

[2021-10-07 23:45] kendall-lu commented on #61
<img width="647" alt="Screen Shot 2021-10-07 at 4 44 58 PM" src="https://user-images.githubusercontent.com/53277337/136476744-d801438e-dac9-413c-abaf-ca6bce1ab28b.png">

ios

[2021-10-07 23:48] kendall-lu commented on #61
<img width="567" alt="Screen Shot 2021-10-07 at 4 47 22 PM" src="https://user-images.githubusercontent.com/53277337/136476906-91c71980-8852-42e9-acc3-2b2ac168ba4d.png">

Batch sent, but no logs received on the datadog console

[2021-10-13 16:56] #61 closed, assigned to nobody

[2021-11-08 15:34] siavash-mohseni opened #62 "Attributes still are being ignored in iOS v1.4.0"
Hi,
Even with the latest update that has a commit regarding fixing the attributes in iOS, attributes are not still passed.

I have a sample attribute like this:

`
0:"context 1 key" -> "context 1 value"
key:"context 1 key"
value:"context 1 value"
1:"context 2 key" -> "context 2 value"
key:"context 2 key"
value:"context 2 value"
`

Thanks :)

[2021-11-14 20:20] tshedor commented on #62
Hey @siavash-mohseni thanks for using this package.

That's an interesting bug. So, ideally, nested dictionaries are handled with [this recursive function](https://github.com/GetDutchie/datadog_flutter/blob/master/ios/Classes/SwiftDatadogFlutterPlugin.swift#L344). Are you passing in null values by any chance? Can you provide an example of an attribute payload that fails?

And I'd love the help if

[2021-11-15 12:10] siavash-mohseni commented on #62
Hi @tshedor,
Thanks for your answer.

I think my attributes are fairly simple. Something like this:

`{
	"exception": "exception message",
	"stackTrace": "stack trace string",
	"context": {
		"key1": "value1",
		"key2": "value2"
	}
}`

None of the values are null and all the keys are Strings.

I debugged the code and first time in recursive function it is coverting the `context` successfully to `[

[2021-12-04 12:12] kevjose commented on #47
@ma-pe fetching the `spanId` via `requestOptions` instead of `headers` would work here. And once, the `spanId` is passed it appears in the APM trace logs as well.

[code]

[2022-01-11 19:06] xacaciax commented on #62
I am having a similar issue with `List<String>` custom attributes propagating to datadog for iOS devices when added to the user with the `extraInfo` parameter.

When I add attributes to the user like:
[code]
the attributes show up as Custom Attributes for Android devices _but not for iOS._

[2022-01-14 16:02] vytautas-pranskunas- opened #64 "Unable to send logs"
I have checked with datadog support team - configuration looks good howver no logs are landing in datadog: logs, route observation, network observations, errors, nothing.
My log service looks like this:
[code]

I call init() in main before any activity
[code]

any ideas why i am not able to send logs?

[2022-01-14 19:32] vytautas-pranskunas- opened #65 "When trying to do call addUserAction i get: A RUM event was detected, but no view is active"
A RUM event was detected, but no view is active. To track views automatically, try calling the DatadogConfig.Builder.useViewTrackingStrategy() method.

[2022-01-14 21:25] vytautas-pranskunas- commented on #64
After talking to datadog chat logs are sent (i did nothing.. thay somehow enealed something) but I am facing another problems
1) I am not able to see error logs in datadog but i am using: DatadogRum.instance.addError(error, stackTrace)
2) I am not able to see request body (while seeing requests) by passing http client to graphql package
3) I am seeing this message in conole:
A RUM event was detect

[2022-01-14 21:33] tshedor commented on #64
@vytautas-pranskunas- you won't see the request body in the APM traces. This is a deliberate; sensitive information could be in the body.

As to your first and third messages, please [use the DatadogObserver](https://github.com/GetDutchie/datadog_flutter#real-user-monitoring)

[2022-01-15 09:32] vytautas-pranskunas- commented on #64
I am using DatadogObserver, unless I cannot use few observers because i also using firebase analytics observer

[2022-01-15 15:58] vytautas-pranskunas- commented on #64
I was able to solve #2 problem above almost excet fact that when i am calling```DatadogRum.instance.stopResourceLoading(requestId)``` I am getting error about 'fetch' contstant
![Screenshot 2022-01-15 at 16 56 45](https://user-images.githubusercontent.com/3918999/149628529-072da336-5e9b-4e54-a992-7cefd2c850ef.png)

Still sturgling to make DatadogObserver to work

[2022-01-19 11:36] vytautas-pranskunas- commented on #64
@tshedor  Any help would be awesome! Because i cannot complete datadog integration.

[2022-01-19 12:26] vytautas-pranskunas- opened #66 "Invalid kind enum"
While not getting response regarding this bug: https://github.com/GetDutchie/datadog_flutter/issues/64 I had to dig deeper into datadog java code regarding this error:

![image](https://user-images.githubusercontent.com/3918999/150128791-568b5268-f856-409b-bc4b-4726437c2481.png)

It appears that Enums that you are using in stopResoureceLoading are lowercased and in datadog java sdk all enums are u

[2022-01-19 13:05] #64 closed

[2022-01-19 13:11] vytautas-pranskunas- opened #67 "Constantly see: "A RUM event was detected, but no view is active" in console"
Hello,

I have closed prev issue since i have new details (https://github.com/GetDutchie/datadog_flutter/issues/64).
Problem is that I am warning that i see comes out of nowhere (I am using DataObserver in my navigation observers)

[code]

As you can see from logs above acitve page is ```/home``` but it is not detected!
Sometimes after refresh of the app this error is gone for some time and events

[2022-01-21 08:35] #65 closed

[2022-01-24 06:26] tshedor commented on #66
PRs are open!

[2022-01-24 06:29] tshedor commented on #67
Hi @vytautas-pranskunas- can you please provide code that produces this error messaging? I'm unable to help debug without seeing the problem's source in your implementation. I use this package on a daily basis with RUM events and view tracking and both are functional.

[2022-01-24 08:31] vytautas-pranskunas- commented on #67
@tshedor viea tracking and RUM are working however i see this messages in console.

[2022-02-07 16:26] eerive opened #68 "Kotlin version mismatch due to a Flutter 2.10.0 breaking change"
**Case**
In our project, this plugin throws an error that the Kotlin version is mismatched. This is likely due to a [breaking change ](https://docs.flutter.dev/release/breaking-changes/kotlin-version) in the Flutter SDK, in which a version bump is required. Our project targets the sdkVersion 31.

**Reproduce steps**
To reproduce, run `flutter upgrade` in the stable branch and upgrade to 2.10.0. Th

[2022-02-07 18:43] tshedor commented on #67
@vytautas-pranskunas- Are you calling `DatadogFlutter.initialize` in main?

[2022-02-07 18:49] tshedor commented on #66
Being addressed in #69

[2022-02-07 18:49] #66 closed

[2022-02-07 18:52] tshedor commented on #47
Thanks @kevjose

Closing with a recommendation for that ^ solution.

[2022-02-07 18:52] #47 closed

[2022-02-07 19:40] tshedor commented on #68
Good catch @eerive .

This is perhaps a stupid question, but is there a way to set a minimum number in gradle instead of this fixed version?

[2022-02-08 13:33] eerive commented on #68
Yes, there is a way to include a dynamic version, as see in https://stackoverflow.com/questions/56961961/what-does-ext-kotlin-version-mean-in-build-gradle ; but it is not recommended to use it as sometimes builds can fail. It's annoying to single-handedly change it, but it seems to be the "safest" way to do so.

[2022-02-08 17:03] tshedor commented on #68
@eerive eh, yeah I don't love that because we need the minimum patch number too according to the Flutter docs. However, it looks like `1.6` is available, so `1.6.+` would work here. If you can, could you please try out this branch with your app?

[code]

[2022-02-09 10:41] MayuriXx opened #71 "Problem with the new version 1.4.1"
Hi,

In the new version, my CI saying :

`e: /opt/hostedtoolcache/flutter/2.8.1-stable/x64/.pub-cache/hosted/pub.dartlang.org/datadog_flutter-1.4.1/android/src/main/kotlin/com/greenbits/datadog_flutter/DatadogFlutterPlugin.kt: (200, 69): Unresolved reference: uppercase`

Do you know why ?
waiting for, I set in my pub the 1.4.0 and it's good

Thank you and have a nice day 😬

[2022-02-09 10:46] eerive commented on #68
[code]

 Seems like the version thingy does not work like this - at least not for me.  @tshedor

[2022-02-09 14:58] eerive commented on #68
I can report that the Datadog logs are working as intended after testing.
#70 looks good to me.
 @tshedor

[2022-02-09 16:57] tshedor commented on #71
@MayuriXx could you please check your `build.gradle` and ensure your `ext.kotlin_version` is `1.5` or greater?

[2022-02-09 16:59] tshedor commented on #68
Great, thanks @eerive

[2022-02-09 16:59] #68 closed

[2022-02-09 16:59] MayuriXx commented on #71
I will check it tomorrow. Thank you! 😊

[2022-02-10 09:14] vytautas-pranskunas- commented on #67
@tshedor for sure. And this message shows not all the time. It starts after some random time and once it starts it keeps showing every few seconds - meaning that some events are catched that beying added to no RUM. However I am not doing anything special and while debugging navigation observer i see that RUM has been set.
Have no idea how to find source of this event
p.s. without ```DatadogFlutter

[2022-02-10 15:07] MayuriXx commented on #71
yes it's good;
I changed ext.kotlin_version in 1.6.10.
Thank you ! 😊

[2022-02-10 15:07] #71 closed

[2022-02-11 00:05] jtmuller5 opened #72 "1.5.0 broken for newer iOS devices"
Will add more details soon but updating my datadog dependency caused my app to stop working for most newer iPhones.

[2022-02-11 04:01] tshedor commented on #67
@vytautas-pranskunas- is there a chance that you have a screen or modal without a name? If the route doesn't [have a name](https://github.com/GetDutchie/datadog_flutter/blob/main/lib/datadog_observer.dart#L21-L24) then the view could be stopped without a new one being set.

Otherwise, this log message is coming from the Datadog SDK and I don't have much influence over it.

[2022-02-11 04:02] tshedor commented on #72
Ah I was worried about this. I'll roll back that minor.

[2022-02-11 08:37] #72 closed

[2022-02-11 20:49] tshedor commented on #62
<img width="179" alt="image" src="https://user-images.githubusercontent.com/865897/153668020-0f47cd06-d332-46c2-9296-354074fe577c.png">

[2022-02-15 21:50] opsb opened #75 "No rum data uploaded - "(rum) No upload""
I've had the logging working for a while but decided to add RUM for error tracking. No matter what I try though I always get the message `(rum) No upload`.

[code]

Am I correct in thinking that the above should cause the user action to be sent with the next RUM data batch upload? (DD_TOKEN is my main client_token, I also tried the rum app client_token which again worked for logging but not RUM).

[2022-02-18 11:16] antonkad opened #76 "extrainfo is not displayed in session's attributes"
Hello, while trying to do:

[code]

On datadog, I cannot manage to find any extra info in the attributes of the the session, neither in the user part, neither in the json. The id and the name are properly displayed.

In the application settings, the app is of type javascript, I already tried the other types out of curiosity.

Regards

[2022-02-21 23:18] tshedor commented on #76
Hey @antonkad what platform are you using? Flutter Android, Flutter Web, Flutter iOS?

[2022-02-21 23:19] tshedor commented on #75
Hey @opsb are you using `DatadogObserver`? RUM data sometimes doesn't upload if an active screen isn't set.

[2022-02-21 23:19] tshedor commented on #75
And by sometimes I mean "maybe always?"

[2022-02-22 13:52] antonkad commented on #76
we are using mainly Flutter Web

[2022-02-23 20:49] opsb commented on #75
Hey @tshedor I'm not using the `DatadogObserver` at all actually, mainly because I don't use the MaterialApp navigation. Looks like I could get it working by just calling
[code]

I'll give it a go, thanks for the pointer!

[2022-03-02 00:18] #75 closed

[2022-03-02 00:18] tshedor commented on #67
Closing due to inactivity

[2022-03-02 00:18] #67 closed

[2022-03-03 15:31] btrautmann opened #78 "MissingPluginException"
Hi there,

We're investigating adding `datadog_flutter` to our add-to-app Flutter application, and running into the following issue when invoking `initialize`:

[code]

I've cloned the repository and pointed our `pubspec.yaml` to my local copy via a `path` ref, and placed logs in both `onAttachedToEngine` and `registerWith` but neither seem to be invoked which would explain the `MissingPluginExcep

[2022-03-07 13:48] antonkad commented on #76
Hello,

We've tried this new branch, btw if someone else passes here, in the url it's a ":" not a "/" such has in here:

`url: git@github.com:GetDutchie/datadog_flutter.git
`
So after trying this out, we are facing another kind of problem related to the plateform:

`UnsupportedError (Unsupported operation: Platform._operatingSystem)
`

In fact, when putting a break point, we can see that it tries

[2022-03-08 05:27] karthik-js opened #79 "Bug in Datadog Observer implementation"
The current implementation of `didPop` takes`current route` that is being popped as `newRoute` and `route` that is coming into the view after didPop is considered as `previousRoute`.

This implementation is wrong. The correct way is that we have to switch the way we are `currentRoute` is fetched in `didPop`

[2022-03-08 22:28] tshedor commented on #79
Hey @karthik-js PRs are open. I've not had a problem with this.

[2022-03-09 02:44] btrautmann commented on #78
I think you may be right. I ran the same code in a standalone (i.e not add to app) flavor of our app and the SDK was able to initialize. I can dig into this more and hopefully figure out what's up.

We are, however, running into `E[/Datadog]() (17917): Unable to send batch [444 bytes] (LogsOkHttpUploader) because of a network error; we will retry later.` I actually saw this occur with the example

[2022-03-09 08:05] karthik-js commented on #79
@tshedor I have observed this problem last week while I was integrating datadog into our app where the API calls of the newly popped screen are logged into the previous one. Can you point me to the PR that is open for this issue, If possible?

[2022-03-09 17:49] btrautmann commented on #78
Ok, this one was on me. We run a monorepo setup and while I ran `pub get` for the package importing this plugin, I failed to do so for the entire repo (which would include the embedded app package), and after doing so and re-deploying, everything began working as expected, so closing this.

[2022-03-09 17:49] #78 closed

[2022-03-09 21:02] tshedor commented on #79
@karthik-js there's no active PR for this issue, but you're welcome to submit one

[2022-03-09 21:26] tshedor commented on #78
Great to hear

[2022-03-10 16:13] antonkad commented on #76
We tried out the new version, the bug disapeared, but we no longer have any informations releated to the user (no user name, no user id). Neither in the user details, neither in the json attributes.

Do you know if there's a way to check the data that is sent, through a debugger localy ?

[2022-03-11 20:38] mikhael28 opened #80 "Status of 'Official' Datadog SDK Integration"
Hi there amazing developers!

Our company is building out a mobile application with Flutter, and we were pleasantly surprised to find that Dutchie has a 'quasi-official' Flutter implementation for Datadog, that Datadog officially approves of and is planning to turn their package into an official Datadog SDK with Flutter, as explained in this [YouTube video.](https://www.youtube.com/watch?v=s7kteIx

[2022-03-11 20:49] mikhael28 opened #81 "Web Build Error 'TypeError: Cannot read properties of undefined (reading: 'init'), null, null)"
Hey everyone, I am loving this unofficially official flutter SDK for Datadog. The Android and iOS builds work very smoothly, but I am having an issue with the web build/deployment that I was wondering if someone can help me with/identity the issue.

When running the Chrome development server, I am getting this data in the Chrome console:
[code]

[2022-03-11 20:50] mikhael28 commented on #81
My Flutter dependencies:
[code]

[2022-03-11 20:51] mikhael28 commented on #81
And a clean bill of health from flutter doctor
[code]

[2022-03-11 20:51] mikhael28 commented on #81
When I comment out all import statements and Datadog initialization, everything works just fine. Again, iOS and Android work well.

[2022-03-11 21:55] mikhael28 commented on #81
I am silly - this information resolved my issue. Mostly. Found another bug, going to post now. https://github.com/GetDutchie/datadog_flutter/blob/main/example/web/index.html

[2022-03-11 21:55] #81 closed

[2022-03-11 22:07] mikhael28 opened #82 "Web Datadog Flutter error `Unsupported operation: Platform._operatingSystem`"
When building/running on DataDog web, this line of code triggers a `Unsupported operation: Platform._operatingSystem` error. No such error on mobile.

`await DatadogFlutter.setUserInfo(id: _user['email']);`

Every other part of the Flutter configuration works just fine, including:

[code]

[2022-03-11 23:40] tshedor commented on #80
Hey @mikhael28 sorry but I personally have no news. I last spoke with a DD developer a few weeks ago and I'm excited about the features they're building. Tagging @xgouchet here in case any official news can be disclosed.

[2022-03-11 23:40] #79 closed

[2022-03-11 23:47] tshedor commented on #82
@mikhael28 can you please try this branch?

[code]

[2022-03-11 23:53] tshedor commented on #76
So I guess, please comment out that `datadog_flutter` in your pubspec, save, and uncomment and make sure the SHA in your pubspec.lock reflects the new commit and give that another go please.

[2022-03-12 08:06] xgouchet commented on #80
Hi @mikhael28, we're actively working on an official Datadog SDK for Flutter, and although I can't give you a specific ETA, we plan on starting alpha testing soon, and beta testing should follow once we have enough confidence over what we built.

[2022-03-15 17:38] tshedor commented on #76
Great, glad to hear it

[2022-03-15 17:38] #76 closed

[2022-03-15 17:40] tshedor commented on #82
Hey @mikhael28 I'm closing this in as the resolution was part of #76

[2022-03-15 17:40] #82 closed

[2022-03-15 17:40] tshedor commented on #80
Thanks for chiming in @xgouchet , I appreciate it

[2022-03-18 17:17] dominic-cot opened #84 "`setUserInfo` `extraInfo` is not working on iOS."
We are using `extraInfo` to provide information such as region to datadog, to be available for all logs.

This is working fine on Android, but on iOS the information is not appearing in the log.

`id` is working, it is just the information in `extraInfo` that is missing.

Our code looks something like this:
[code]

[2022-03-18 20:07] masterwok opened #85 "Android API 31 Crash"
When trying to run this package on Android API 31 and above a crash occurs. This is caused by an issue internal to the Datadog SDK: [https://github.com/DataDog/dd-sdk-android/issues/709](https://github.com/DataDog/dd-sdk-android/issues/709).

This issue should be resolved by bumping `com.datadoghq:dd-sdk-android` from version `1.8.1` to `1.11.1`.

[2022-03-21 17:18] tshedor commented on #84
@dominic-cot a PR would be great, thanks

[2022-03-23 16:58] tshedor commented on #85
Released in 1.7.0; thanks @masterwok

[2022-03-23 16:58] #85 closed

[2022-03-23 17:01] tshedor commented on #84
Released in 1.7.0; thanks @dominic-cot

[2022-03-25 10:04] selvassn opened #88 "Unable to determine Swift version for the following pods 'datadog_flutter'"
I am seeing , `datadog_flutter` does not specify a Swift version and none of the targets (`Runner`) integrating it have the `SWIFT_VERSION` attribute set. Please contact the author or set the `SWIFT_VERSION` attribute in at least one of the targets that integrate this pod. is there a fix for this issue ?

**Below is the summary of flutter doctor**

[code]

[2022-03-25 21:20] tshedor commented on #88
Hi @selvassn the solution to this will most likely require configuration in your project. Have you tried the [empty Swift file](https://github.com/kiwi-bop/flutter_crashlytics/issues/22) solution?

[2022-03-29 12:58] mkobuolys opened #89 "datadog_flutter v1.7.0: App crashes when extraInfo property in setUserInfo method is null"
datadog_flutter v1.7.0: App crashes when extraInfo property in setUserInfo method is null

This is the error from the native layer:

This error occurs when calling the `setUserInfo` method like this:

[code]

You can fix the problem by providing an empty object to `extraInfo`.

[code]

I think you should either specify the default value for `extraInfo` (e.g. empty object) or fix the bug in the nat

[2022-04-01 21:43] victor-tinoco commented on #89
I'm facing the same issue.

[2022-04-04 19:23] btrautmann opened #91 "Odd mappings of log levels happening on Android"
Hi there! We're working on integrating this flutter plugin into our codebase and noticing an oddity around Android's log levels once logs land in the datadog backend.

In short, all of our `info` logs are being mapped to `debug`. I first confirmed that we are definitely logging them as `info` to the public `log` function of the dart API, and then isolated the problematic mapping to [these lines](h

[2022-04-09 10:59] Dachmian opened #92 "Crash Reporting"
Hello!

Thank you for the great package, its working wonderfully for us.

I have a question about crash reporting. This is supported by the native packages for [Android](https://www.datadoghq.com/blog/debug-android-crashes/) and [iOS](https://www.datadoghq.com/blog/ios-crash-reporting-datadog/)

Any plans of supporting this functionality for Flutter?

Cheers

[2022-04-12 23:13] QuirijnGB opened #93 "Question: Why is tracing limited to http.Request"
Hello!

Before i go down a rabbit hole...
Why is it that the `DatadogTracingHttpClient` only decorates `http.Request`?
https://github.com/GetDutchie/datadog_flutter/blob/main/lib/datadog_tracing.dart#L22

All my requests seem to be `http.StreamedResponse` and therefore ignored.

Removing that statement seems to work for my use case

Thanks!

[2022-04-15 19:28] tshedor commented on #92
Hey @Dachmian this is supported through RUM. To handle the exceptions Flutter reports, I'd recommend running your app within a zone - see [Automatically capture errors](https://github.com/GetDutchie/datadog_flutter#real-user-monitoring) here.

[2022-04-15 19:29] tshedor commented on #88
Closing due to lack of activity

[2022-04-15 19:29] #88 closed

[2022-04-15 19:30] tshedor commented on #91
Hey @btrautmann there's no explicit decision for the mappings short of "I thought this was the most accurate." Based on the reactions to your issue, it sounds like this is a problem for others. I'd really appreciate a PR to correct the mappings to what it should be.

[2022-04-15 19:36] tshedor commented on #93
Hey @QuirijnGB all methods in the HTTP client invoke `send` and receive a [StreamedResponse](https://github.com/GetDutchie/datadog_flutter/blob/main/lib/datadog_tracing.dart#L35). You shouldn't be sending a streamed response as a request.

Could you provide some sample code that illustrates how you're using the HTTP client?

[2022-04-15 22:20] QuirijnGB commented on #93
Hey @tshedor, sorry I meant StreamedRequest 😅.

I think rather than filtering out http.Request it should be http.Baserequest

Cheers

[2022-04-18 07:48] Dachmian commented on #92
Hi @tshedor,
Can you please clarify if your comment is related to Flutter errors or app crashes in general?

We are using RUM and initalizing it as you suggested inside a zone but we are still having crashes which are visible in Xcode/TestFlight but are not visible in Datadog RUM view.

If you see the links posted above for iOS and Android it seems its possible to configure the nativr SDK to captu

[2022-04-18 17:05] tshedor commented on #93
Hey @QuirijnGB it is [BaseRequest already](https://github.com/GetDutchie/datadog_flutter/blob/main/lib/datadog_tracing.dart#L21)

[2022-04-18 23:18] QuirijnGB commented on #93
Correct, but the [next line](https://github.com/GetDutchie/datadog_flutter/blob/main/lib/datadog_tracing.dart#L22)
seemingly filters out anything that's not a `http.Request`

[2022-04-18 23:54] tshedor commented on #93
@QuirijnGB I guess that's a fair point. I thought `statusCode` was necessary through `http.Request`, but since that's the response, nevermind. Good catch.

[2022-04-18 23:56] QuirijnGB commented on #93
Want me to write a PR for it?

[2022-04-18 23:57] QuirijnGB commented on #93
Youre too quick https://github.com/GetDutchie/datadog_flutter/pull/94 :)

[2022-04-19 00:13] tshedor commented on #92
Hey @Dachmian for Android, `crashReportsEnabled` is [enabled so long as you're passing a RUM ID](https://github.com/GetDutchie/datadog_flutter/blob/main/android/src/main/kotlin/com/greenbits/datadog_flutter/DatadogFlutterPlugin.kt#L67).

For iOS, it looks like this was updated extremely recently (like ~10 days ago recently). I've added this to a PR. Can you try it out?

[code]

[2022-04-21 08:44] Dachmian commented on #92
@tshedor
Thank you for the quick turnaround!
We are testing it right now and will get back to you

[2022-04-25 16:55] Pitazzo opened #97 "Disable [DEBUG] messages"
Hi there,
first of all, kudos to you, awesome plugin. Till now we were using some bizarre custom endpoint in our backend logging to an InfluxDB instance, and the difference with Datadog is like night and day.

I was wondering whether is possible to disable the printing of `[DATADOG SDK]` messages. If right now is not possible, including a `bool` field to the initializer params which enabled or dis

[2022-04-26 00:34] mikhael28 commented on #82
Thank you @tshedor !

[2022-04-27 22:54] mrverdant13 opened #98 "Random failure when logging"
## Details

Hi!

I am facing a quite unexpected behaviour with the package.
Logging sometimes works, and some other times doesn't.

The message that is displayed when the log fails is this one: `failed because of a processing error or invalid data`.
I am only logging a simple `String` message, and I have also tried wrapping the `log` static method with a try catch without success.

Do you have any

[2022-04-27 23:53] tshedor commented on #92
@Dachmian any news on this?

[2022-04-27 23:54] tshedor commented on #93
@QuirijnGB released in 1.7.2

[2022-04-27 23:54] #93 closed

[2022-04-27 23:55] tshedor commented on #97
Hey @Pitazzo unfortunately that comes from the Datadog SDK itself. I'd recommend opening your issue on the [Android](https://github.com/DataDog/dd-sdk-android) SDK or the [iOS](https://github.com/DataDog/dd-sdk-ios) SDK.

[2022-04-27 23:55] #97 closed

[2022-04-27 23:56] tshedor commented on #98
Hi @mrverdant13 I don't have an answer for that and haven't seen the message. Do you have a stack trace? Or an example log line that precedes the error messaging?

[2022-04-28 04:06] mrverdant13 commented on #98
I just found the root issue.

I am trying to switch environment by triggering DataDog initialization again.
Is there any way to do this?

In the meantime, I end up using a custom tag for my environment, but the client token cannot be changed.

[2022-04-28 20:44] tshedor commented on #98
@mrverdant13 maybe I could understand your use case better. Why do you want to switch environments? Could you instead use separate Datadog loggers and add your unique tags to those individual loggers?

[2022-04-29 07:27] Dachmian commented on #92
Hi @tshedor
We implemented based on your suggestion and have tested and it works for both iOS and Android. Thanks a lot!

Can this be merged into a new release?

[2022-04-30 01:12] tshedor commented on #92
Released in 1.7.3

[2022-04-30 01:12] #92 closed

[2022-05-01 05:36] dballance opened #99 "pod 'DatadogSDKCrashReporting' is missing as of 1.7.3"
#95 does not add `pod 'DatadogSDKCrashReporting'` as a dependency. See: https://github.com/DataDog/dd-sdk-ios/issues/778

This causes a crash during builds:

[code]

[2022-05-02 21:29] tshedor commented on #99
Just when I think all the bugs are resolved. This is fixed in `1.7.3+1` via #100 .

Thanks for filing @dballance . cc @karthik-js @fabricio-sisplan @neelansh-creatorstack

[2022-05-03 16:07] scopendo commented on #99
I'm getting an error with 1.7.3+1 – first time install so haven't had earlier versions.

If tried `pod deintegrate`, `rm Podfile.lock`, `pod install --repo-update` without any improvement.

[2022-05-03 21:24] dustin-graham commented on #99
@tshedor I don't think this should be closed. it's broken on the latest build 1.7.3+1.

[2022-05-04 00:35] tshedor commented on #99
@scopendo I was able to successfully run this yesterday. I ensured `1.7.3` was installed and `datadog_flutter 0.0.3` was the version in `Podfile.lock`. Your error, however, indicates that there's something in the building in Xcode. I'll most likely need to do something with `s.static_framework` or `s.vendored_libraries`.

I don't have time to reasonably deal with maintenance right now, so I'm roll

[2022-05-04 00:36] tshedor commented on #98
@mrverdant13 heads up, I'm going to close this ticket in 72 hours

[2022-05-05 23:31] #91 closed

[2022-05-06 19:10] #98 closed

[2022-05-08 18:08] damir-fell commented on #99
@tshedor We are testing a fix in the mentioned forked repo. If it works we can post a PR here.

[2022-05-09 00:16] tshedor commented on #99
@damir-fell looks like we were on [the same track](https://github.com/GetDutchie/datadog_flutter/pull/101/files#diff-f326fbbb2e5f2a953b2277f769784b4c50929c933616ca9677722b38ee1bbd50R21). I'll be merging this in shortly and publishing a pre release.

[2022-05-09 00:16] #99 closed

[2022-05-09 04:31] damir-fell commented on #99
@tshedor Awesome, even better.

[2022-05-09 21:02] tshedor commented on #99
@damir-fell this is available in `2.0.0-beta.1`

[2022-05-09 21:03] tshedor commented on #92
@Dachmian this is rereleased in `2.0.0-beta.1`

[2022-05-09 21:04] tshedor commented on #91
@btrautmann thank you again for your work here and your unit testing. It's really helpful to me.

Your changes have been released as part of `2.0.0-beta.1`

[2022-05-10 02:43] addhayam opened #104 "Loading Type and Loading Time not show in RUM"
I followed the example, but the Loading Type and Loading Time do not display in RUM.
I found that it sometimes shows only on Android in main activities.
Please suggest.
<img width="871" alt="image" src="https://user-images.githubusercontent.com/92152431/167532262-ab55c162-d560-437e-b529-62d20bf27d9f.png">

[2022-05-12 12:26] charafau opened #105 "Beta2 still doesn't compile on Flutter 3"
hi! looks like there's stll an error when using Flutter 3

[code]

Looks like companion object was removed together with `context` variable:

https://github.com/GetDutchie/datadog_flutter/blob/8f38c649d65e816b57dbf4c56dbd44b0e2d70513/android/src/main/kotlin/com/greenbits/datadog_flutter/DatadogFlutterPlugin.kt#L50

[2022-05-13 12:42] rodrigobastosv commented on #105
I'm getting the same error. Hope the pr will be merged and the problem will go away soon

[2022-05-13 21:19] #105 closed

[2022-05-13 21:22] tshedor commented on #104
Hey @addhayam a PR would be really appreciated to add this feature.

[2022-05-13 21:22] tshedor commented on #105
@charafau @rodrigobastosv this is released in `2.0.0-beta.4`

[2022-05-13 21:43] charafau commented on #104
Is this Andoird only or iOS too ?

[2022-05-13 21:43] charafau commented on #105
thanks for fast merge !

[2022-05-17 02:19] addhayam commented on #104
@tshedor Wow. Thank you so much. Do you have a rough plan for the release date?
@charafau  Both Android and iOS. But Loading Time for mainActivity shows up only on Android.

[2022-05-17 02:31] addhayam commented on #104
@tshedor Sorry, I'm too new for the git community. So, Data Dog team has no plan to implement this on Flutter, right?

[2022-05-17 20:05] tshedor opened #108 "Deprecation of Community Plugin"
The Datadog team has [released](https://www.datadoghq.com/blog/monitor-flutter-application-performance-with-mobile-rum/) an official version of [their SDK](https://pub.dev/packages/datadog_flutter_plugin). Since they are a team and very close to the APIs and features of the iOS and Android SDKs, it is with a heavy and joyful heart that version 2 of `datadog_flutter` will be **the final release** o

[2022-05-17 20:17] tshedor commented on #104
@addhayam / @jeenDzul sorry, I have no plan to address this. I would recommend that you use [the official Datadog SDK](https://pub.dev/packages/datadog_flutter_plugin) instead per #108 . Their SDK has a rewritten HTTP client that should handle this resource tracking.

[2022-05-17 21:17] QuirijnGB commented on #108
Thank you for all the time and effort!

[2022-05-18 06:51] xgouchet commented on #108
Thanks a lot @tshedor for making and maintaining this plugin!

[2022-05-20 07:14] #104 closed

[2022-06-22 16:54] masterwok commented on #108
Thank you!!

[2022-07-05 21:49] brunovsiqueira commented on #108
Thanks so much for all your contribution!

[2022-08-21 11:53] vytautas-pranskunas- opened #109 "App crashes on iOS"
Hello, after flutter update to 3.0.5 app started to crash on iOS using this plugin version 2.0.0

[code]

Also for some reasons i see another error in here ```dd.trace_id' is a reserved attribute name```

[2022-11-03 18:21] mateusfccp commented on #109
Yeah, we are also having it when upgrading from 3.0 to 3.3. Also, the official Datadog flutter simply does not work.

[2022-11-04 23:28] tshedor commented on #109
Sorry - this plugin is deprecated. Please open any issues with the official plugin on their repo at https://github.com/DataDog/dd-sdk-flutter

[2022-11-04 23:28] #109 closed, assigned to nobody